body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root {
  /* margin: 0 20rem 0 20rem; */
}
.Header{
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 70px;
  padding: 10px 10px 0 10px;
  background-color: #333;
  box-sizing: border-box;
  z-index: 1000;
  
}
.Header_logo {
  display: inline-block;
  justify-content: flex-end;
  margin-left: 10px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.Header_navigation {
  display: inline-block;
  }


.Header_navigation_menu {
  display: inline-block;
  margin: 10px 0 10px 0;
  font-size: 1.2rem;
  background-color: transparent;
  color: yellow;
  font-style: normal;
  cursor: pointer;
}


.menu-toggle {
  display: none;
}

@media (max-width: 992px) {

  .menu-toggle {
    display: block;
    margin-right: 10px;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    justify-content: flex-end;
  }

  /* .Header_navigation {
    display: none;
  } */
  .nav-menu {
    display: none;
    position: absolute;
    width: 100%;
    cursor: pointer;
    background-color: transparent;
  }

  .nav-menu.open {
    display: flex;
  }

  .Header_navigation_menu {
    display: block;
    /* margin: 10px 10px 10px 10px; */
    font-size: 1.2rem;
    background-color: transparent;
    color: yellow;
    font-style: normal;
    padding: 10px 0;
  }


}

.prolog_content {
  padding: 70px 0 0 0;
}

article {
  scroll-margin-top: 70px;
  height:1000px;
}